.form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.password-field {
  position: relative;
  width: 100%;
  margin-bottom: 24px;
}

.password-field .form-input {
  width: 100%;
  padding-right: 17em; /* jättää tilaa ikonille */
}

.password-field .toggle-password {
  position: absolute;
  top: 11%;
  right: 12px;
  background: none;
  border: none;
  cursor: pointer;
  color: #aaa;
}

.form-h2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.password-field .toggle-password:hover {
  color: #fff;
}

.form-background {
    display: flex;
    width: 90%;
    height: 90%;
    max-width: 519px;
    max-height: 681px;
    background-color: rgb(36, 36, 36);
    color : #FFF;
    justify-content: center;
    margin: 32px auto;
    border-radius: 16px;
}

.form-fields{
    font-size: 16px;
    text-align: left;
    margin: 32px 16px 32px 16px;
}

.form-h2 {
    font-size: 32px;
    margin-top: 96px;
    margin-bottom: 32px;
}

.form-input{
    background-color: rgb(36, 36, 36);
    color: #FFF;
    width: 100%;
    height: 40px;
    margin-bottom: 24px;
    padding: 8px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #747474;

}

.button-container{
    display: flex;
    justify-content: center;
}

.auth-link{
    display: flex;
    justify-content: center;
}

.form-button{
    background-color: #FED41F;
    color: black;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 16px;
}

.form-button:hover, .form-button:focus, .form-button:active{
    background-color: #e6c200;
}

.auth-link{  
    color: #FED41F;
    text-decoration: none;
    background: none;
    border: none;
}
