.hero-block {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 5vw; 
  gap: 3rem;     
}


.hero-search {
  flex: 0 0 25%;    
  min-width: 250px; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  gap: 1rem;
}

.hero-title {
  font-size: clamp(1.5rem, 2vw, 2.2rem);
  color: #ddd;
  white-space: nowrap;  
  margin: 1.5em;
}

.movie-card {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid #eee;
}

.movie-info {
  display: flex;
  gap: 2rem;
  align-items: baseline;
  font-size: 0.9rem;
  color: #555;
}

.movie-title {
  font-weight: bold;
  font-size: 1.1rem;
  flex-shrink: 0;
  white-space: nowrap; 
  margin: 0;
}

.hero-results {
  height: 550px;
  overflow-y: auto;
  flex: 1 1 60%;
  max-width: 900px;
  margin-left: auto;
}

.movies-box {
  max-height: none;
  overflow-y: visible;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fff;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.movie-poster {
  width: 80px;
  height: 120px;
  border-radius: 4px;
  object-fit: cover;
  flex-shrink: 0; 
}

/* Responsiivisuus puhelimille */
@media (max-width: 768px) {
  .hero-block {
    flex-direction: column; 
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
  }

  .hero-search {
    flex: 1 1 100%;
    max-width: 500px;
    justify-content: flex-start;
    text-align: center;
  }

  .hero-title {
    white-space: normal;
    font-size: 1.8rem;
  }

   .hero-results {
    width: 100%;
    height: 60vh;
    max-height: 60vh;
    overflow-y: auto;
  }

  .movies-box {
    max-height: none;
    overflow-y: visible; 
  }

  .movie-info {
    flex-direction: column;
    gap: 0.3rem;
    align-items: center; 
    font-size: 0.9rem;
  }

  .movie-title {
    white-space: normal;
    text-align: center;
  }
}


/* Suuret näytöt 4k*/
@media (min-width: 2560px) {
  .hero-block {
    gap: 10rem; 
    padding: 0 10vw;
  }

  .hero-search {
    flex: 0 0 20%;
  }

  .hero-results {
    max-width: 1200px;
    overflow-y: auto; 
  }

  .movies-box {
    max-height: none;
    overflow-y: visible;
  }
}
