.load-container {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
}

.load-button {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: gold;
    color: black;
    cursor: pointer;
}

.napit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    padding: 1em;
}

.aloitus-otsikko {
    display: flex;
    justify-content: center;
}

.haku-palkki {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.rounded-btn.haku-nappi {
    border-color: black;
    color: black;
    background-color: white;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}
.haku-kenttä {
    padding: 6px 14px;
    border-color: black;
    border-radius: 20px;
    font-size: 16px;
    width: 240px;
}

.haku-nappi:hover {
    background-color: gold;
    border-color: gold;
    color: black;
}

.leffa-kortit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
    max-width: 1300px;
    margin: 0 auto;
}

.kortti {
    flex: 1 1 calc(25% - 1.5rem); /* flex: 1 1 = flex-grow: 1; ja flex-shrink: 1; eli voi kasvaa tai kutistua tarpeen mukaan jos rivillä on tilaa ja tila jaetaan tasan */
    max-width: 350px; /* 25% eli kortteja on 4 vierekkäin kun yksi vie 25% tilasta ja siitä miinustetaan korttien välit - 1.5rem */
    min-width: 250px; /* minimi leveys ennekuin vähennetään kortteja rivistä */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FED41F;
}

.favorite-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.2 ease;
}

.favorite-button.active {
    color: gold;
}

.favorite-button:hover {
    transform: scale(1.1);
}

.kortti:hover {
    transform: translateY(-5px); /* kun vie hiiren kortin päälle se nousee 5px ylöspäin jotta käyttäjä tietää mikä on "valittuna" */
}

.header-tila {
    width: 100%;
}

.rounded-btn.genreNappi {
    background-color: white;
    border-color: black;
    color: black;
    border-radius: 20px;
}

.rounded-btn.genreNappi:hover,
.rounded-btn.genreNappi:focus,
.rounded-btn.genreNappi:active
{
    background-color: gold;
    border-color: gold;
    color: black;
}

.rounded-btn.genreNappi.selected {
    background-color: gold;
    border-color: gold;
    color: black;
}

.rounded-btn.reviewNappi {
    background-color: white;
    border-color: black;
    color: black;
    border-radius: 20px;
}

.rounded-btn.reviewNappi:hover,
.rounded-btn.reviewNappi:focus,
.rounded-btn.reviewNappi:active
{
    background-color: gold;
    border-color: gold;
    color: black;  
}

.rounded-btn.reviewNappi.selected {
    background-color: gold;
    border-color: gold;
    color: black;
}

.rounded-btn.languageNappi { /* luokkien järjestyksellä ei ole väliä eli toimisi samalla tavalla toistepäin .languageNappi.rounded-btn, kunhan molemmat elementit otetaan huomioon */
    background-color: white;
    border-color: black;
    color: black;
    border-radius: 20px;
}

.rounded-btn.languageNappi:hover,
.rounded-btn.languageNappi:focus,
.rounded-btn.languageNappi:active
{
    background-color: gold;
    border-color: gold;
    color: black;
}

.rounded-btn.languageNappi.selected { /*(jatko) ja silloin tämä css tyyli on aktiivinen */
    background-color: gold;
    border-color: gold;
    color: black;
}

@media only screen and (max-width: 900px) {
    .kortti {
        flex: 1 1 calc(50% - 1.5rem); 
    }
}

@media only screen and (max-width: 500px) {
    .kortti {
        flex: 1 1 100%;
    }
}
