.profile-block {
    width: 100%;
    max-width: 1159px;
    display: flex;
    flex-direction: row;
    margin: 32px auto;
}

.profile-title{
    font-size: 32px;
    color: #000;
    margin-bottom: 16px;
    margin-top: 0;
}

.profile-content {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    gap: 16px;
}

.delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 132px;
    min-height: 32px;
    width: 132px;
    height: 32px;
    margin: 4px auto;
    background-color: white;
    border-radius: 32px;
}