.profile-block {
    width: 100%;
    max-width: 1159px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 32px auto;
}

.profile-content{
}
.profile-title{
    font-size: 32px;
    color: #000;
    margin-bottom: 16px;
}

.profile-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.buttons {
    display: flex;
    align-items: right;
    gap: 8px;
}